.wrapper {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.spinner {
  border-style: solid;
  border-color: var(--color-brand);
  border-top-color: transparent;
  border-radius: var(--radius-full);
  animation: rotate 0.7s linear infinite;
}

.sm {
  width: 1rem;
  height: 1rem;
  border-width: 2px;
}

.md {
  width: 1.5rem;
  height: 1.5rem;
  border-width: 2px;
}

.lg {
  width: 2.5rem;
  height: 2.5rem;
  border-width: 4px;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
